@charset "utf-8"; /*此处用utf-8能阻止编译成.cSS中文乱码的问题*/

html {
  font-size: 625%;
}

$height: 1rem;
$button_txt: #8f8f8f;
$bg-white: #fff;
$bg-gray: #f2f2f2;

ion-header-bar, .bar {
  padding: 0;

  .buttons {
    width: 120px;
    right: 10px;

    button {
      width: 40px;
    }

    button:first-child {
      margin-right: 30px;
    }

    .new-search {
      height: 33px;
      display: block;
    }
    .lives-icon {
      height: 25px;
      display: block;
    }

  }
  .logo {
    height: 44px;
    display: block;
  }

}

/*次级tab导航标签*/
.nav-scroll {
  width: 200%;
  height: 35px;
  position: absolute;
  line-height: 35px;

}

/*副标题*/
.bar-subheader {
  height: 35px;
  ion-scroll {
    width: 100%;
    height: 35px;
    line-height: 35px;
  }

  .changes {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    height: 35px;
    line-height: 35px;
    margin-left: 10px;
    width: 130px;
  }
  /*向下的展开菜单按钮*/
  .drop-tag {
    height: 34px;
    width: 44px;
    position: absolute;
    top: 0;
    right: 0;
    background: $bg-white;
    z-index: 2;
    &:after {
      position: absolute;
      top: 10px;
      left: 15px;
      content: '';
      display: block;
      height: 12px;
      width: 12px;
      border-right: 2px solid $button_txt;
      border-bottom: 2px solid $button_txt;
      transform: rotate(45deg);
      background: $bg-white;

    }
  }

  ion-content {
    top: 79px;
  }
  .sub-button-bar {
    width: 200%;
    height: 35px;
    line-height: 35px;
    position: relative;
    //transform: translateX(-80%);
   margin-left: 10px;
    .button {
      width: 20%;
      display: block;
      color: $button_txt;
      z-index: 1;
      opacity: 1;
    }

    .active {
      border-bottom: 2px solid #f00;
      color: #f00;
    }
  }
}

/*页面主体部分*/
.news-container {
  display: block;
}

.has-subheader {
  top: 70px;
}

/*轮播图*/

.slider {
  height: 2.8*$height;
  .box {
    height: 2.8*$height;
    img {
      height: 2.8*$height;
      width: 100%;
      display: block;
    }
  }
  .slider-pager {
    text-align: right;
    padding-right: 15px;
    height: 30px;
  }

  .active {
    color: #fff;
  }

  .icon:before {
    content: '.';
    font-size: 30px;
    line-height: 1;
  }
}

/*新闻列表*/

ion-list ion-item {
  position: relative;

  p {
    margin-top: 35px;
      span {
        position: absolute;
        z-index: 9999;
        top: 60px;
        right: 20px;
        height: 40px;
        line-height: 35px;
        font-size: 14px;
        color: #aaa;
      }

      em {
        display: inline-block;
        height: 12px;
        width: 12px;
        position: relative;
        top: -5px;
        &:before{
          position: absolute;
          top: 0;
          right: 0;
          content: "";
          display: inline-block;
          height: 2px;
          width: 12px;
          background: #999;
          transform: translateY(9px) rotate(45deg) ;
        }
        &:after{

          position: absolute;
          top: 0;
          right: 0;
          content: "";
          display: inline-block;
          height: 2px;
          width: 12px;
          background: #999;
          transform: translateY(9px) rotate(135deg) ;
        }
      }

  }
}

/*tags标签页*/

.tags-container {
  display: none;
  .tags {
    display: block;
    float: left;
    width: 20%;
    margin: 2.5%;
    height: 30px;
    line-height: 30px;
    border: 1px solid #B6B6B6;
    border-radius: 2px;
    background: #F8F8F8;
    text-align: center;
    font-size: 14px;
    font-family: '微软雅黑';
  }

  .tips {
    color: #8f8f8f;
    font-family: '微软雅黑';
  }
  .tips-right {
    text-align: right;
    padding-right: 2.5%;
    font-size: 12px;
  }

  .tips-left {
    text-align: left;
    padding-left: 2.5%;
    font-size: 14px;
  }
}

/*详情页*/

.con {
  line-height: 180%;
}

.con img {
  max-width: 90%;
  display: block;
  margin: 0 auto;

}

.loading {
  text-align: center;
  margin-top: 200px;
}

/*新闻详情页*/

ion-header-bar {
  .icon {
    width: 44px;
  }
}

.popover-backdrop .popover-wrapper ion-popover-view {
  top: 10px;
}

ion-footer-bar {
  display: flex;
  .item-input {
    flex: 1;
    padding-right: 120px;
  }

  .button {
    margin-right: 0;
    height: 24px;
    width: 24px;
    font-size: 12px;
    position: relative;
    .comment {
      color: #f00;
      position: absolute;
      top: 5px;
      left: 35px;
      font-size: 18px;
      font-weight: 800;
    }
  }


}

/*news-search页面*/

.gray-bg {
  background: $bg-gray;
}

ion-list .list {
  .search-box {
    padding-left: 45px;
    background: $bg-white;
    border-radius: 3px;
    position: relative;
    &:before {
      position: absolute;
      left: 15px;
      top: 15px;
      content: '';
      display: block;
      height: 20px;
      width: 20px;
      background: url(../img/images/night_akb.png) no-repeat center;
      background-size: 30px 30px;
    }
    &:after {
      position: absolute;
      right: 8px;
      top: 10px;
      content: '';
      display: block;
      height: 30px;
      width: 30px;
      background: url(../img/images/shaoyishao.jpg) no-repeat center;
      background-size: 20px 20px;
    }

    input {
      font-size: 16px;
      padding-right: 30px;
      position: relative;

    }
  }

  .more-news {
    margin-top: 20px;
    height: 30px;
    line-height: 30px;
    color: #8f8f8f;
    border-bottom: 1px solid #8f8f8f;

    .moreNews {
      float: right;
      text-decoration: none;
    }
  }

  .news-content {
    margin-top: 30px;
  }

  .hotWords {
    margin-top: 20px;
    .button {
      background: #eee;
      border: 1px solid #ddd;
      margin-right: 25px;
      margin-bottom: 25px;
      color: #000;
    }
  }

}

/*视频直播页*/

.live-tab {
  position: absolute;
  top: 0;
  left: 10px;
  height: 44px;
  width: 100%;
  a {
    display: inline-block;
    height: 44px;
    width: 60px;
    text-align: center;
    line-height: 44px;
    color: #ddd;
    text-decoration: none;
    box-sizing: border-box;
    font-family: "微软雅黑";
    font-size: 16px;
  }

  .active {
    color: #fff;
    border-bottom: 2px solid #fff;
  }
}

ion-content {
  .wrap {
    width: 100%;
    height: 300px;
    margin-right: 15px;
    padding: 1px;

    display: flex;
    justify-content: space-between;
    .video-wrap {
      width: 48%;
      border: 1px solid #ddd;
      border-radius: 3px;
      box-shadow: -2px -2px 8px #ddd;

    }

     dt img {
        height: auto;
        width: 100%;
      }



    dd {
      height: 90px;
      padding: 8px;

      h3 {
        height: 60px;
        font-size: 18px;
        margin-bottom: 0;
      }

      .down {
        height: 30px;
        width: inherit;
        span {
          display: inline-block;
          height: 20px;
          width: 20px;
          vertical-align: middle;
          img {
            display: block;
            height: 20px;
            width: 20px;
          }
        }

        i {
          display: inline-block;
          height: 30px;
          line-height: 30px;
          width: 120px;
          text-align: left;
        }

      }

    }

  }

}

/*视频页*/
.video-page {
  background: #f2f2f2;
}
.banner {
  padding: 10px;
  position: relative;
  img {
    width: 100%;
    height: 220px;
  }
  p {
    position: absolute;
    left: 10px;
    bottom:5px;
  }
}

/*直播预报*/
.forcast {
  height: 60px;
  padding: 10px;
  margin: 10px 0 10px;
  background: #fff;

  .tit {
    height: 20px;
    line-height: 20px;
    font-size: 16px;
    position: relative;

    span {
      position: absolute;
      width: 30px;
      height: 20px;
      font-size: 14px;
      top: 0;
      right: 0;
      color: #f00;
      &:after{
        content: '';
        display: block;
        height: 8px;
        width: 8px;
        border-top: 2px solid #f00;
        border-right: 2px solid #f00;
        transform: rotate(45deg);
        position: absolute;
        right: 0;
        top: 5px;
      }

    }
  }

  .roll {
    height: 30px;
    line-height: 30px;
    .times {
      display: inline-block;
      height: 20px;
      line-height: 20px;
      width: 66px;
      text-align: center;
      background: #DCE5F3;
      color: #67A3E6;
    }
  }
}

/*直播简介*/

.shares {
  height: 240px;
  padding: 0 10px 0;
  background: $bg-white;
  border-bottom: 1px solid #8f8f8f;
  .tits {
    height: 45px;
    line-height: 45px;
    text-align: left;
    text-indent:5px;
  }

  img {
    display: block;
    width: 100%;
    height: 145px;
  }

  .info {

    height:40px;
    line-height: 40px;
    span {
      float: left;
      font-size: 16px;
      font-family: "微软雅黑";
      color: #BCBCBC;
    }
    .right-info {
      float: right;

      span {
        font-size: 14px;
      }

      a {
        display: inline-block;
        text-decoration: none;
        font-size: 12px;
      }
    }

  }

}


/*话题页面*/

.chats-tab {
  margin-left: 10px;
  width: 100%;
  height: 44px;
  line-height: 44px;
  display: flex;
   li a{
     display: block;
     height: 44px;
     width: 60px;
     text-decoration: none;
     text-align: center;
     line-height: 44px;
     color: #ddd;
     box-sizing: border-box;
     font-family: "微软雅黑";
     font-size: 16px;
   }

    .active {
      color: #fff;
      border-bottom: 2px solid #ffffff;
    }
}




/*tab3*/



.chats_content:last-child, .chats_content:nth-last-of-type(2)  {
  display: none;
}


#tab3 {
  padding: 15px;
  .youCare {
    height: 160px;
    padding-top: 30px;
    text-align: center;
    p {
      height: 30px;
      line-height: 30px;
      text-align: center;
    }
    .button {
      top: 80px;
      right: 50%;
      height: 35px;
      width: 160px;
      transform: translateX(80px);
    }


  }

  .we-see {
    height: 45px;
    line-height: 45px;
    color: #8f8f8f;
    font-size: 14px;
    font-family: "微软雅黑";

    i {
      margin-right: 5px;
    }
  }

  img {
    border-radius: 0;
  }

  .button {
    position: absolute;
    right: 0;
    top: 15px;
  }
}

/*最后一页*/

.my-header {
  height: 160px;
  padding-top: 40px;
  background: #ff0000;
  text-align: center;
  .button {
    color: #fff;
    position: absolute;
    top: 0;
    right: 10px;
  }
  .login {
    color: #fff;
    font-family: '微软雅黑';
    font-size: 20px;
    margin-bottom: 5px;
  }

  .tips {
    font-size: 14px;
    font-family: '微软雅黑';
    color: #e6b500;
  }


}

.my-info {
  height: 80px;
  display: flex;
}

.my-info li {
  flex: 1;
  position: relative;
  text-align: center;
  padding-top: 50px;
  background: #fff;
  font-size:20px;

  i {
    position: absolute;
    top:20px;
    left: 50%;
    transform: translate(-5px);
    color: #aaa;
  }

  span {
    line-height: 1;
    color: #aaa;
  }
}

/*中间部分*/

.has-myheader {
  top:240px;
}

ion-list {
  background: #fff;
   .item-divider {
     min-height: 10px;
     padding: 0;
   }

  span {
    margin-left: 10px;
    color: #333;
  }

  b {
    float: right;
    font-weight: 400;
    color: #ccc;
  }
}



/*登录界面的左右滑动出现*/
.slide-in-right {
  -webkit-transform: translateX(-100%);
  transform: translateX(100%);
}
.slide-in-right.ng-enter, .slide-in-right > .ng-enter {
  -webkit-transition: all cubic-bezier(0.1, 0.7, 0.1, 1) 400ms;
  transition: all cubic-bezier(0.1, 0.7, 0.1, 1) 400ms;
}
.slide-in-right.ng-enter-active, .slide-in-right > .ng-enter-active {
  -webkit-transform: translateX(0);
  transform: translateX(0);
}
.slide-in-right.ng-leave, .slide-in-right > .ng-leave {
  -webkit-transition: all ease-in-out 250ms;
  transition: all ease-in-out 250ms;
}
.slide-in-left {
  -webkit-transform: translateX(-100%);
  transform: translateX(100%);
}
.slide-in-left.ng-enter, .slide-in-left > .ng-enter {
  -webkit-transition: all cubic-bezier(0.1, 0.7, 0.1, 1) 400ms;
  transition: all cubic-bezier(0.1, 0.7, 0.1, 1) 400ms;
}
.slide-in-left.ng-enter-active, .slide-in-left > .ng-enter-active {
  -webkit-transform: translateX(0);
  transform: translateX(0);
}
.slide-in-left.ng-leave, .slide-in-left > .ng-leave {
  -webkit-transition: all ease-in-out 250ms;
  transition: all ease-in-out 250ms;
}

/*登录界面的左右滑动出现*/
/*登录页面*/
.login-page, .setting-page {
  background: #f2f2f2;
  .title {
    display: block;
  }

}

ion-list .item-input {
  span {
    margin-right: 5px;
    font-size: 12px;
  }
  button.login-button {
    color: #aaa;
  }
}

.method-more {
  margin-top: 30px;
  color: #a2a2a2;
  font-size: 12px;
}

.login-rigester {
  padding: 10px 10px 0 10px;
  background: $bg-white;
  .exit-login {
    height: 80px;
    box-sizing: border-box;
    border-bottom: 1px solid #a2a2a2;
    display: flex;
    li {
      flex: 1;
      color: #999;
      text-align: center;
      img {
        width: 40px;
        height: 40px;
      }
    }
  }


  .no-user {
    height: 44px;
    line-height: 44px;
    color: #444;
    span {
      color: #f00;
    }
    position: relative;
    &:after {
      content: '';
      display: block;
      position: absolute;
      top: 18px;
      right:0;
      width: 8px;
      height: 8px;
      border-top:1px solid #333;
      border-right: 1px solid #333;
      transform: rotate(45deg);
    }
  }
}

/*设置界面*/
.setting-title {
  height: 36px;
  line-height: 36px;
  color: #bbb;
  margin: 0;
  font-size: 14px;
}

/*拖动按钮的样式调整*/

.toggle {

  top: 16px;

  .track {
    height: 3px;
    width: 42px;
    .handle{
      width: 20px;
      height: 20px;

    }
  }

   input:checked+.track .handle {
    background: #f00;
  }
}


.top-setting {
  box-sizing: border-box;
  padding-left: 10px;
  .setting-item {
    height: 40px;
    line-height: 40px;
    color: #666;
  }

  .setting-item:last-child {
    border-bottom: 1px solid #ddd;
  }
}

.device-setting .item{

    background: #f2f2f2;
    padding:12px 10px 12px 10px;
    border:none;
    span {
      float: right;
      padding-right: 10px;
      position: relative;
      &:after {
        content: '';
        display: block;
        position: absolute;
        top: 5px;
        right:0;
        width: 8px;
        height: 8px;
        border-top:1px solid #333;
        border-right: 1px solid #333;
        transform: rotate(45deg);
      }
    }
}

.device-setting .item:last-child {
  border-bottom: 1px solid #ddd;
}





